body{
  background: url(http://cdn.playbuzz.com/cdn/4bd619d6-9c1e-46d9-8921-929e75d5a10c/82031716-60b8-4240-9af2-58d0b1271142_560_420.jpg);
  font-family: arial;
  background-size:1200px 800px;
}

h1, p{
  color: green;
}

