body{
  background: url(http://cdn.desktopwallpapers4.me/wallpapers/photography/1920x1080/3/22531-dark-city-street-1920x1080-photography-wallpaper.jpg);
  font-family: arial;
  background-size:1200px 800px;
}

h1{
  color: White;
}
p{
  color:#B22222;
}


